services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: iiitd-grade-dash
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/iiitd_grade_dash
      - NEXTAUTH_URL=http://localhost:3000
      - AUTH_URL=http://localhost:3000/api/auth
      - AUTH_TRUST_HOST=true
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: iiitd_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=iiitd_grade_dash
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
